$base: #EDE6DB;
$DarkContrast: #442c2e;
$highlight: #D74E09;
$secondHighlight:#F1E0AC;
$darkHighlight: #d4662ecc;

header{
    display: flex;
    background:#222;
    align-items: center; /*alinea contenido al centro de la fila*/
    justify-content: space-between;
    color: $base;
    max-height: 50px;
    align-content: center;
    padding: 25px 80px;
  }
.buttonGroup{
  display: flex; 
  justify-content: space-between;
  gap: 40px;
}
figure{
  width : 150px;
}
img{
  height:auto;
  width: 100%;
}
