<div class="tools">
    <header>
      <h1>Herramientas</h1>
    </header>
      <!--icono 1-->
      <div class="card ">
        <img src="#" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Jane Doe</b></h4> 
          <p>Interior Designer</p> 
        </div>
      </div>

      <!--icono 2-->
      <div class="card">
        <img src="#" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Jane Doe</b></h4> 
          <p>Interior Designer</p> 
        </div>
      </div>

      <!--icono 3-->
      <div class="card">
        <img src="#" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Jane Doe</b></h4> 
          <p>Interior Designer</p> 
        </div>
      </div>

      <!--ngFor junto con lista de iconos serviria para reemplazar tanto html-->
   
</div>