#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:minmax(90px, auto);
    gap: 5px;
  
    margin: 0;
    width: 100vw;
    height: 100vh;
    
    grid-template-areas: 
      "izq main der"
      "izq main der"
      "izq main der"
      "bttm bttm bttm"
      ;
  }
  #container div{
    background: #3bbced;
  }
  #container div:nth-child(even){
    background: #777;
  }
  .izq{
    grid-area: izq;
  }
  .der{
    grid-area: der;
  }
  .main{
    grid-area: main;
  }
  .bottom{
    grid-area: bttm;
  }
  p, a{
    background-color: #777;
  }
  