<h1>Educación</h1>
    <div class="cardsGroup">
        <mat-card-actions> 
                <mat-icon style="float:right;">edit</mat-icon>
        </mat-card-actions>

        <mat-card style="border: solid 2px;">
        <img mat-card-image src="#" alt="icon ET N°21 DE 10">
            <mat-card-header>
            <mat-card-title> ET N°21 DE 10 </mat-card-title>
            <mat-card-subtitle>"Fragata Escuela Libertad"</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            <p>Título obtenido: "Técnico en Computación"</p>
            </mat-card-content>    
        </mat-card>

</div>