<div class="container">
    <div class="title section-style">
        <h1>Educación</h1>
    </div>
    <div class="left">
        <div class="cardsGroup scroll">
            <mat-card *ngFor="let edu of myData.education">
                <mat-card-header>
                    <img mat-card-avatar [src]="edu.logo" alt="icon ET N°21 DE 10">
                    <mat-card-title> {{edu.name}} </mat-card-title>
                    <mat-card-subtitle>{{edu.subName}}, {{edu.level}} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Título obtenido: <span>{{edu.title}}</span></p>
                    <p>{{edu.dateInit}} - {{edu.dateEnd}} </p>
                </mat-card-content>    
            </mat-card>
        </div>
    </div>
    <div class="der">
        <img [src]="image" alt="foto de libros" width="100%" height="100%">
    </div>
</div>