.tools{
  padding: 20px 40px;
}

.title{
  width: 300px;
  position: relative;
  margin: 20px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cardsGroup {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 50px 100px;

  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 50px;
  text-align: center;
  }
  mat-card-header{
    justify-content: center;
    padding-right: 30px;
  }

  mat-card{
    cursor:pointer;
    background: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 40%;
    border-radius: 6px;
    background-color: rgba(#66665f,.53);

    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11);
   
  }
  mat-card:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
    0 2px 2px rgba(0,0,0,0.20), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.10),
    0 16px 16px rgba(0,0,0,0.05);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 100ms ease;
  }
  
  .cardsGroup:last-child {
    border: none;
  }
  
  .cardsGroup.cdk-drop-list-dragging mat-card:not(.cdk-drag-placeholder) {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }
  