<main class="grid" [ngsRevealSet]="{ reset: true}" [ngsInterval]="400" [ngsSelector]="'.animated'">
    <div class="title section-style on-hover animated">
        <h1>Hola!</h1>
    </div>
    <div class="p1 section-style animated">
        <p>Mi nombre es <span class="on-hover">{{myData.name}}</span>, vivo en {{myData.province}}, <span class="on-hover">{{myData.country}}</span>, país donde nací, 
        soy una desarrolladora {{myData.title}}  autodidacta y fanática del café.</p>
    </div>
    <div class="p2 section-style animated">
        <p>
         {{myData.about}}
        </p>
    </div>
    <about-button class="animated"></about-button>
</main>