<div id="container">
    <div class="logo">
            <img [src]="portfolio.logoArg" alt="APLogo" height="20%" width="30%">
    </div>
    <div class="der"> <!--conjunto de botones-->
        <div id="iconLD"><!--icono de light/dark mode-->
            <img [src]="icon" alt="icono de modo">
        </div>
        <div id="switch" *ngIf="router.url === '/About'">
            <a href="/"><mat-icon>home</mat-icon></a>
        </div>
        <div>
            <login-button></login-button>
        </div>
        <div><!--hamb menu-->
            4
        </div>
    </div>
</div>
