$base: #EDE6DB;
$DarkContrast: #442c2e;
$highlight: #D74E09;
$secondHighlight:#F1E0AC;
$darkHighlight: #d4662ecc;

header{
    display: flex;
    background:#222;
    align-items: center; /*alinea contenido al centro de la fila*/
    justify-content: space-between;
   
    color: #eee;
    max-height: 50px;
    align-content: center;
    padding: 20px 80px;
  }
.buttonGroup{
  display: flex; 
  justify-content: space-between;
  gap: 40px;
}
figure{
  width : 150px;
}
img{
  height: auto;
  width: 100%;
}
.burger{
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 75px;
  z-index: 3;
}
.burger span{
  display: block;
  width: 30px;
  height: 2px;
  background: $secondHighlight;
  margin-bottom: 6px;
  transition: all 400ms ease-in;
}
.burger span:hover{
 background: $highlight;
}

nav{ 
  background: rgba(51, 51, 51, 0.911);
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  min-width: 230px;
  padding: 20px;
  padding-top: 80px;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
}
nav a{
  transition: color 400ms ease-in;
  color: #eee;
  display: block;
  margin-bottom: 20px;
  font-size: 5rem;
}
nav a:hover {
  color: $highlight;
}
  
  /* open state */
nav.open{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  background: rgba(51, 51, 51, 0.911);
  padding: 20px;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0; /*ignora otros componentes y empieza desde la parte superior de la página*/
  right: 0;
}
ul li{
  padding: 0 0 95px;
}