<div class="menu">
  <header>
      <img [src]="portfolio.logoArg" alt="APLogo">
      <div class="buttonGroup">
        <login-button></login-button>
        <div class="burger" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>
  </header>
  
  <nav [@slideInOut]="menuState">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>