
#container{
display:grid;
gap: 2px;
grid-template-columns:repeat(3, 1fr);
grid-template-rows: minmax(50px, auto);
padding: 5px;
}
.izq{
    align-self: center;
    justify-self: start;
    margin: 10px 50px;
}

.cnt{
    align-self: center;
    justify-self: end;
}

.der{
    align-self: center;
    justify-self: center;
    margin: 10px 50px;
}