header{
    padding: 20px 40px;
    background: #222;
}

header app-toolbar{
    grid-column: span 12;
}

main{
    margin: auto;
    
    background-image: url( /assets/images/layered-waves2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    grid-column: span 6;
}
.p1{
    grid-column: span 6;
}
/*
$base:#ddd5be;
main{
  background-color: $base;

  background-image: url( /assets/images/layered-waves2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}
.der{
    grid-column: 8/9;
    grid-row-start: 2;
}
#hr1{
  grid-column: 2/8;
  padding: 0;
}
#hr2{
  grid-column: 2/8;
}*/