<header class="grid">
  <app-toolbar></app-toolbar>
</header>
<main class="grid" [ngsRevealSet]="{ reset: true}" [ngsInterval]="400" [ngsSelector]="'.animated'">
  <div class="title section-style on-hover animated">
    <h1>Hola!</h1>
  </div>
  <div class="p1 section-style animated">
    <p>Mi nombre es <span class="on-hover">{{myData.name}}</span>, vivo en {{myData.province}}, 
    <span class="on-hover">{{myData.country}}</span> país donde nací, soy una desarrolladora 
    {{myData.title}} autodidacta y fanática del café.</p>
  </div>
  <div class="p2 section-style animated">
    <p>
      {{myData.about}}
    </p>
  </div>
  <div class="Button">
    <about-button class="animated"></about-button>
  </div>
</main>

<!--
  
  <div class="container"   [ngsRevealSet]="{ reset: true}" [ngsInterval]="400" [ngsSelector]="'.animated'">

    <div class="navbar">
        <app-toolbar></app-toolbar>
    </div>

    <div class="izq">
      
    </div>

    <section id="main">
      <div class="title section-style on-hover animated">
        <h1>Hola!</h1>
      </div>
      <div class="p1 section-style animated">
        <p>Mi nombre es <span class="on-hover">{{myData.name}}</span>, vivo en {{myData.ubication}} pais donde naci, 
            soy una desarrolladora {{myData.title}}  autodidacta y fanatica del café.</p>
      </div>
      <div class="p2 section-style animated">
        <p>
          {{myData.about}}
        </p>
      </div>
      <div id="aboutBttn">
        <about-button class="animated"></about-button>
      </div>
    </section>
    
    <div id="hr1" class="animated">
      <hr>
    </div>
  
    <section id="tools">
      <app-section-tools></app-section-tools>
    </section>

    <div id="hr2" class="animated">
      <hr>
    </div>

    <section id="contact">
      <app-section-contact></app-section-contact>
    </section>
  
    <div class="der">
    </div>

    <footer class="footer">
    </footer>
</div>

-->