// paleta de colores
$base:#ddd5be;
//letras
$l1: #F1E0AC;
$l2: #D74E09;
$l3: #d4662ecc;

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

a{
  position: absolute;
  text-decoration: none;
  background: rgba($base, 0.308);
  color: $l1;
  border: none;
  padding: 7px 0;

  &:hover{
    color:rgb(50, 50, 50);
    background: rgba($base, 0.363);
  }
}

.btn{
  background-color: black;
  color: $l1;
  cursor: pointer;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
    
  &:hover { 
      text-decoration: none; 
  }
}


.btn-l{
    color: $l1;
    font-family: monospace;
    font-weight: 600;
    text-transform: uppercase;
  
    svg {
      fill: none;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    rect {
      stroke: $l1;
      stroke-width: 4;
      stroke-dasharray: 80, 30, 80;
      transition: all 0.75s linear;
    }
    text{
      transition: fill 400ms ease-in;
      fill:$l1
    }
}
.btn-l:hover {
  background: rgba(39, 39, 112, 0);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;

  rect {
    stroke: $l2;
    stroke-width: 5;
    stroke-dasharray: 20, 100;
    stroke-dashoffset: 158%;
    transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  text{
    fill: $l3;
  }

}
