main{
    padding: 20px 40px;
}
.title{
    grid-column: 3 / span 9;
}
.p1{
    grid-column: 4 / span 8;
}
.p2{
    grid-column: 3 / span 9;
}
about-button{
    grid-column: 3 / span 9;
}

#myPhoto:before {
    content: "";
    background-image: url( /assets/images/azu.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 130px;
    width: 100%;
    height: 75%;
    z-index: -3;
    bottom: 205px;
    left: 205px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in;
    
  }
#myPhoto:hover::before {
    visibility: visible;
    opacity: 1;
  }