<div class="contact" >

    <div class="title section-style animated">
        <header>
            <h2>Hablemos!</h2>
        </header>
    </div>

    <p class="p1 section-style animated">
        Si buscas una persona motivada, proactiva, que sepa comunicarse y trabajar en equipo.
    </p>
    <p class="p2 section-style animated">
        o simplemente queres contarme que te parecio mi portafolio
    </p>
    <p class="p3 section-style animated">
        dejame un mensaje llenando los siguientes campos
    </p>


    <div class="form">
        <form class="form-box">
            <mat-form-field class="field-box">
                <input type="text" class="input-style" matInput placeholder="nombre">
                
                <input type="text" class="input-style" matInput placeholder="email" required>
                <mat-error ></mat-error><!--falta agregar form control-->

                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="tu mensaje"></textarea>
            </mat-form-field>
            
            <input type="submit" value="Submit">
        </form>
    </div>

</div>