<div class="contact" >

    <div class="title section-style animated">
        <header>
            <h2>Hablemos!</h2>
        </header>
    </div>
    <div class="p1 section-style animated">
        <p >Si buscas una persona <span class="on-hover">motivada</span>, 
            <span class="on-hover">proactiva</span>, que sepa <span class="on-hover">comunicarse</span> y 
            <span class="on-hover">trabajar en equipo</span>.
        </p>
    </div>
    <div class="p2 section-style animated">
        <p> o simplemente queres contarme que te parecio mi portafolio
        </p>
    </div>

    <div class="p3 section-style animated">
        <p> podes mandarme un <span>mail</span> o 
            dejarme un mensaje llenando los siguientes campos
        </p>
    </div>


    <div class="form">
        <form class="form-box">
            <mat-form-field class="field-box">
                <input type="text" class="input-style" matInput placeholder="nombre">
                
                <input type="text" class="input-style" matInput placeholder="email" required>
                <mat-error ></mat-error><!--falta agregar form control-->

                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="tu mensaje"></textarea>
            </mat-form-field>
            
            <input type="submit" value="Submit">
        </form>
    </div>

</div>