.contact{
    padding: 20px 40px;
}
.title{
    grid-column: 4 / span 9;
}
.p1{
    grid-column: 2 / span 11;
}
.p2{
    grid-column: 3 / span 6;
}
.p3{
    grid-column: 2 / span 6;
}
.form{
    grid-column: 8 / span 6;
}

.form-box {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}
  
.field-box {
    width: 100%;
}

.mail-hover{
    cursor: pointer;
  will-change: transform;
  transition: color 450ms ease-in;

  &:hover{
    transition: transform 150ms;
    color: rgb(175, 80, 16);
}
}

input[type=text], textarea {
    background-color:rgba(#eeeee1,.7);
    padding: 10px;
    margin: 10px 50px;
    width: 100%;
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5), 
    0 2px 4px rgba(0,0,0,0.5), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}


$font:#F1E0AC;
$bg:#3E3333;
$highlight: #D74E09;

input[type=submit]{
    cursor: pointer;
    background: $bg;
    color: $font;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    float: right;

    font-size: 16px;

    transition: color 300ms ease-in;
}

input[type=submit]:hover{
    color: $highlight;
}
