<div class="contact grid">

    <div class="title section-style animated on-hover">
            <h2><b>Hablemos!</b></h2>
    </div>
    <div class="p1 section-style animated">
        <p >Si buscas una persona 
            <b><span class="on-hover">motivada</span></b>, 
            <b><span class="on-hover">proactiva</span></b>, que sepa 
            <b><span class="on-hover">comunicarse</span></b> y 
            <b><span class="on-hover">trabajar en equipo</span></b>.
        </p>
    </div>
    <div class="p2 section-style animated">
        <p> o simplemente querés contarme que te pareció mi portafolio,
        </p>
    </div>

    <div class="p3 section-style animated">
        <p> podés mandarme un <b><span class="mail-hover">mail</span></b> o 
            dejarme un mensaje llenando los siguientes campos.
        </p>
    </div>


    <div class="form">
        <form class="form-box">
            <mat-form-field class="field-box">
                <input type="text" class="input-style" matInput placeholder="nombre">
                
                <input type="text" class="input-style" matInput placeholder="email" required>
                <mat-error ></mat-error><!--falta agregar form control-->

                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="tu mensaje"></textarea>
            </mat-form-field>
            
            <input type="submit" value="Submit">
        </form>
    </div>

</div>