
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Portafolio-primary: mat.define-palette(mat.$indigo-palette);
$Portafolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Portafolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Portafolio-theme: mat.define-light-theme((
  color: (
    primary: $Portafolio-primary,
    accent: $Portafolio-accent,
    warn: $Portafolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portafolio-theme);

/* You can add global styles to this file, and also import other style files */
/* paleta de colores*/

$base: #EDE6DB;
$pri:#1A3C40;
$sec: #1D5C63;
$ter: #417D7A;
/*color letras*/
$l1: #442c2e;

html{
  height: 100%;
}

body{
    height: 100%;
    color: rgb(32, 31, 31);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    text-align: center;
}

p{ 
    color: $l1;
}

a{
    text-decoration: none;
    color: $l1;
}


  .section-style {
    display: flex;

    align-self: start;
    align-items: center;
    justify-self: start;
    justify-content: center;

    border-radius: 25px;
    padding: 10px 5px;
    background-color: rgba(#EFEFEE,.53);

    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11);

    h1{
      padding: 10px;
      margin: 0;
      font-size: 52.11px;
    }
    
    h2{
      padding: 10px;
      margin: 0;
      font-size: 39.09px;
    }
    
    h3{
      padding: 10px;
      margin: 0;
      font-size: 29.33px;
    }
    
    
  }

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    height: 2px;
    
    color: $l1;
    background-image: linear-gradient(
    90deg,
    rgba($l1, 0),
    rgba($l1, 1) 50%,
    rgba($l1, 0) 100%);


}


p{
  padding: 10px;
  margin: 0;
  font-size: 22px;
}

//animacion de div
@keyframes drop-in{
  from{
    transform: translate(-20%, -50%);
    opacity: 0.65;
  }
  to{
    transform: translate(0%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translate( 30% ,20%);
    opacity: 0.65;
  }
  to {
    transform: translate(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translate( -30% ,20%);
    opacity: 0.65;
  }
  to {
    transform: translate(0%);
  }
}

//transicion usada en titulos y parrafos 
.box-animation{
  transition: transform 250ms;
  will-change: transform;
}

.box-animation:hover{
  transform: translate(2px, -10px);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
    0 2px 2px rgba(0,0,0,0.20), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.10),
    0 16px 16px rgba(0,0,0,0.05);
}


// por si el sist operativo del usuario tiene activado el "reduce notion"
@media (prefers-reduced-motion: reduce) {
  .box-animation {
    transition: none;
  }
}