
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Portafolio-primary: mat.define-palette(mat.$indigo-palette);
$Portafolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Portafolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Portafolio-theme: mat.define-light-theme((
  color: (
    primary: $Portafolio-primary,
    accent: $Portafolio-accent,
    warn: $Portafolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portafolio-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

$base: #EDE6DB;
$darkContrast: #4b2b21;
$highlight: #D74E09;
$secondHighlight:#F1E0AC;
$darkHighlight: #d4662ecc;

body{
  width:100%;
  margin: 0;
  background: $base;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
main{
  padding: 100px 40px 40px;
  color: $darkContrast;
}
ul, li{
  padding:0;
  list-style-type: none;
}
p{
  padding: 10px;
  margin: 0;
  font-size: 22px;
  line-height: 35px;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: $darkContrast;
}
input{
  font-family: 'Poppins', sans-serif;
}

//layout principal de la página
.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}


.section-style {
  display: flex;

  align-self: start;
  align-items: center;
  justify-self: start;
  justify-content: center;

  border-radius: 17px;
  padding: 10px 5px;
  background-color: rgba(#EFEFEE,.53);

  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11);

  h1{
    padding: 10px;
    margin: 0;
    font-size: 52.11px;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  }
    
  h2{
    padding: 10px;
    margin: 0;
    font-size: 39.09px;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  }
    
  h3{
    padding: 10px;
    margin: 0;
    font-size: 29.33px;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  }
    
  &:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
    0 2px 2px rgba(0,0,0,0.20), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.10),
    0 16px 16px rgba(0,0,0,0.05);
  }
    
}

hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    height: 2px;
    
    color: $darkContrast;
    background-image: linear-gradient(
    90deg,
    rgba($darkContrast, 0),
    rgba($darkContrast, 1) 50%,
    rgba($darkContrast, 0) 100%);


}

.on-hover{
  cursor: pointer;
  will-change: transform;
  transition: color 450ms ease-in;
  color: $darkContrast;

  &:hover{
    transition: transform 150ms;
    color: $darkHighlight;
  }
}

.highlight{
  cursor: pointer;
  will-change: transform;
  transition: color 450ms ease-in;
  border-radius: 4px;
  padding: 0 5px;
  margin: 2px;
  background-color: rgba(#EFEFEE,.53);
  box-shadow: 0 0 1px rgba(0,0,0,0.25), 
  0 1px 2px rgba(0,0,0,0.20), 
  0 2px 4px rgba(0,0,0,0.15), 
  ;

  &:hover{
    transition: transform 150ms;
    color: $highlight;
    box-shadow: 0 0px 1px rgba(0,0,0,0.25), 
    0 1px 2px rgba(0,0,0,0.20), 
    0 2px 4px rgba(0,0,0,0.15), 
    0 4px 8px rgba(0,0,0,0.10),;
  
  }
}

// main custom scrollbar
body::-webkit-scrollbar {
  width: 3px;               
}

body::-webkit-scrollbar-track {
  background: $base;        
}

body::-webkit-scrollbar-thumb {
  background-color: $base;    
  border-radius: 20px;       
  border: 3px solid $secondHighlight;  
}
//containers custom scrollbar
.scroll::-webkit-scrollbar {
  width: 3px;               
}

.scroll::-webkit-scrollbar-track {
  background: #333;        
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #333;   
  border-radius: 20px;      
  border: 3px solid #555;
}