#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: minmax(50px, 60px);
    gap: 5px;
  
    margin: 0;
    width: 100vw;
    height: 100vh;

    background-image: url(bg-img/layered-waves2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom; 
    
    grid-template-areas: 
    "navbar navbar navbar navbar"
      "izq main main der"
      "izq main main der"
      "izq main main der"
      "izq main main der"
      "izq main main der"
      "izq main main der"
      "izq main main der"
      "bttm bttm bttm bttm"
      ;
  }
  .navbar{
    grid-area: navbar;
  }
  .izq{
    grid-area: izq;
  }
  .der{
    grid-area: der;
  }
  .main{
    grid-area: main;
  }
  .bottom{
    grid-area: bttm;
  }


  // estilo de contenedor de texto h1
  .txt-box {
    width: 100px;
    height: 30px;

    display: flex;
    grid-row: 3/4;
    grid-column: 2/3;

    align-self: start;
    align-items: center;
    justify-self: start;
    justify-content: center;


    border-radius: 100px;
    padding: 10px;
    background-color: rgba(#EFEFEE,.53);

    h1{
      margin: 0;
    }
    
  }
 