*{
    background-color: rgba(0, 0, 0, 0.774);
  }
  #container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(50px, 80px);
    gap: 5px;
  
    margin: 0;
    width: 100vw;
    height: 100vh;
    
    grid-template-areas: 
    "navbar navbar navbar"
      "izq main der"
      "izq main der"
      "izq main der"
      "izq main der"
      "izq main der"
      "izq main der"
      "izq main der"
      "bttm bttm bttm"
      ;
  }
  .navbar{
    grid-area: navbar;
  }
  .izq{
    grid-area: izq;
  }
  .der{
    grid-area: der;
  }
  .main{
    grid-area: main;
  }
  .bottom{
    grid-area: bttm;
  }
  