
  <div class="container"   [ngsRevealSet]="{ reset: true}" [ngsInterval]="400" [ngsSelector]="'.animated'">
    
    <div class="navbar">
        <app-toolbar></app-toolbar>
    </div>

    <div class="izq">
      
    </div>

    <section id="main">
      <div class="title section-style animated">
        <h1>Hola</h1>
      </div>
      <div class="p1 section-style animated">
        <p>Mi nombre es {{myData.name}}, vivo en {{myData.ubication}} pais donde naci, 
            soy una desarrolladora {{myData.title}}  autodidacta y fanatica del café.</p>
      </div>
      <div class="p2 section-style animated">
        <p>
          {{myData.about}}
        </p>
      </div>
      <div id="aboutBttn">
        <about-button></about-button>
      </div>
    </section>
    
    <div id="hr1">
      <hr>
    </div>
  
    <section id="tools">
      <app-section-tools></app-section-tools>
    </section>

    <div id="hr2">
      <hr>
    </div>

    <section id="contact">
      <app-section-contact></app-section-contact>
    </section>
  
    <div class="der">
    </div>

    <footer class="foot">
    </footer>
</div>
