$base:#ddd5be;
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    display: grid;
    grid-template-columns: repeat(8, minmax(60px, 123px));
    grid-template-rows: minmax(50px, 100px);
    gap: 5px;
  
    margin: 0;
    width: 100%;
    height: 300vh;

    background-color: $base;

    background-image: url( /assets/images/layered-waves2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;

    
    grid-template-areas: 
    "navbar navbar navbar"
      "izq main der"
      "izq hr1 der"
      "izq tools der"
      "izq hr2 der"
      "izq contact der"
      ;
  }
//grid principal de pagina home
  .navbar{
    grid-area: navbar;
    grid-column: 1/9;
  }
  .izq{
    grid-area: izq;
    grid-column: 1/2;
    grid-row-start: 2;
  }
  .der{ //tengo que hacer un nested grid para el icono y el botonde modo
    grid-area: der;
    grid-column: 8/9;
    grid-row-start: 2;
  }

// posicionando contenido de presentacion
  #main{
    grid-area: main;
    grid-column: 2/8;

     display: grid;
     gap: 5px;
     grid-template-columns: repeat(8, minmax(60px, 120px));
     grid-template-rows: 50px;
     grid-row:auto;
    
      .title{
        grid-column: 2/5;
        grid-row: 2/3;

        animation: drop-in 500ms ease-in-out;
      }
     

      .p1{
        grid-column: 3/8;
        grid-row: 3/4;
        margin: 20px 0;

        animation: slide-in-left 750ms ease-in-out;
      }

      .p2{
        grid-column: 2/8;
        grid-row: 4/5;
        margin: 20px 0;   
        
        animation: slide-in-right 950ms ease-in-out;
      }

      #aboutBttn{
        grid-column: 2/4;
        grid-row-start: 5;
        justify-self: start;
      }
      
    }

#hr1{
  grid-area: hr1;

  grid-column: 2/8;
  padding: 0;
}

#tools{
    grid-area: tools;

    grid-column: 2/8;
}

#hr2{
  grid-area: hr2;
  grid-column: 2/8;
}

#contact{
  grid-area: contact;

  grid-column: 2/8;
}

